
/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

.navbar-brand {
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:2px;
  padding-left: 40px;
  padding-right: 20px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: cyan;
    background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
    color: #5BB7DB;
    background-color: transparent;
}

p {
  font-size: 17px;
}

.container {
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  max-width: 550px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c0a33+0,2c0a33+70,2c0a33+100&1+0,0.85+70,0.64+100 */
  background: -moz-linear-gradient(top,  hsla(290,67%,12%,1) 0%, hsla(290,67%,12%,0.85) 70%, hsla(290,67%,12%,0.64) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  hsla(290,67%,12%,1) 0%,hsla(290,67%,12%,0.85) 70%,hsla(290,67%,12%,0.64) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  hsla(290,67%,12%,1) 0%,hsla(290,67%,12%,0.85) 70%,hsla(290,67%,12%,0.64) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c0a33', endColorstr='#a32c0a33',GradientType=0 ); /* IE6-9 */
}

.navbar.navbar-default.navbar-fixed-top li {
  display:inline-flex;
}

.navbar.navbar-default.navbar-fixed-top li > a:hover {
    color: cyan;
    background: transparent;
}

.navbar.navbar-default.navbar-fixed-top li > a:active {
    color: cyan;
}

.navbar.navbar-default.navbar-fixed-top li > a {
    color: #5BB7DB;
    background: transparent;
}

.navbar.navbar-default.navbar-fixed-top li > a:focus {
  background: transparent;
  color: cyan;
}


.navbar-default {
  background: transparent;
  border: none;
}

.navbar-collapse {
  border:none;
}

ul {
  display: inline-flex;
}

li {
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:2px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
}

h1 {
  color: white;
}

p {
  color: white;
}

/* Styles */
/* padding-top fixes navbar */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
  max-width:1024px;
  flex-direction: column;
  border-radius: 5px;
  background-color: #00544d;
  background-image: url("http://www.transparenttextures.com/patterns/arabesque.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
